@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

:root{
    --cor0: rgb(104, 104, 104);
    --cor1: rgb(236, 236, 236);
    --cor2: rgb(43, 43, 43);
    --cor3: rgb(51, 0, 0);
    --cor4: rgb(173, 7, 7);
    --cor5: rgb(143, 0, 0);
    --cor6: rgba(255, 255, 255, 0);
    --cor7: rgba(255, 255, 255, 0.486);
    --font1: 'Tangerine', cursive;
    --font2: Arial, Helvetica, sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}
html{
    background-color: var(--cor5);
    padding: 5px 0px;
}
body{
    overflow-x: hidden;
}
header{
    height: 500px;
    background-color: black;
    background-image: url(../imagens/gta-5-mods-4k-z4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
header img {
    width: 100%;
    max-width: 600px;
    position: relative;
    top: 7vh;
    left: 10vw;
} 
header p {
    font-family: var(--font2);
    font-weight: bold;
    font-size: 30%vw;
    position: relative;
    top: 7vh;
    left: 18vw;
}
#p1{
    color: rgb(156, 4, 4);
    text-shadow: 2px 1px 2px 1px black;
}
#p2{
    color: rgb(185, 185, 185);
    text-shadow: 2px 1px 2px 1px black;
}
main{
    background-image: url(../imagens/backgroundmetal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 10px;
}
main section#sec1{
    background-color: var(--cor3);
    margin: auto;
    padding: 10px 10px;
    max-width: 1400px;
    min-height: 1350px;
    border-color: red;
    border-style: double;
    box-shadow: rgba(0, 0, 0, 0.541) 7px 6px 7px 2px;
    position: relative;
    top: -70px;
}
#text{
    color: white;
    float: left;
    width: 35%;
    font-family: var(--font2);
    font-size: 1.7em;
    margin-bottom: 10vh;
    text-shadow: 10px 10px 10px 10px black;
}
#text img{
    width: 150px;
}
#fotos{
    float: right;
    width: 65%;
}
#fotos img{
    display: block;
    width: 100%;
}
#fotos2 img{
    display: inline-block;
    width: 49.7%;
    margin-top: 5px;
}
#corcarro{
    color: white;
    font-family: var(--font2);
}
#divcor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    float: left;
    width: 35%;
}
.cores{
    padding: 20px;
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin: 10px;
}
.cores:hover{
    border: 2px solid white;
    margin: -2px;
}
#cor1{
    background-color: red;
}
#cor2{
    background-color: rgb(255, 0, 221);
}
#cor3{
    background-color: yellow;
}
#cor4{
    background-color: orange;
}
#cor5{
    background-color: rgb(0, 255, 0);
}
#cor6{
    background-color: blue;
}
#cor7{
    background-color: black;
}
#cor8{
    background-color: white;
}
#buy {
    padding: 10px;
    background-color: rgb(160, 0, 0);
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    float: left;
    width: 33%;
}
#buy:hover {
    border: 2px solid white;
    margin: -2px;
    background-color: red;
}
#statusposition {
  float: left;
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
}
#status {
  padding: 10px;
  border-radius: 5px;
}
#status h4 {
  font-family: var(--font2);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}
#status h5 {
  font-family: var(--font2);
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.power-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.power-bar h5 {
  margin-right: 10px;
  width: 150px;
}
.power-bar progress {
  flex-grow: 1;
  height: 10px;
}
.power-bar progress::-webkit-progress-bar {
  background-color: #ccc;
}
.power-bar progress::-webkit-progress-value {
  background-color: rgb(160, 0, 0);
}
.power-bar progress::-moz-progress-bar {
  background-color: rgb(160, 0, 0);
}
footer{
    background-color: black;
    margin-top: 10px;
    padding: 20px;
    color: white;
    text-align: center;
}